<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>F5 Yourself</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link type="text/css" rel="stylesheet" href="/styles.css" media="all">

</head>
<body>
<div id="container">
    <h1>F5 Yourself</h1>
    <h2>something something, flim flam</h2>
    <div id="button-wrap" class="clearfix">
        <button id="start">START</button>
        <button id="stop" class="active">STOP</button>
    </div>

    <iframe id="page"></iframe>

    <div id="chart"></div>
</div><!-- /container -->
    <script>
        var clientCount = 0;
        var clientHistoryInterval = 2000;  // in milliseconds
        var clientHistoryMaxLength = 150;  // in intervals
        var clientHistory = [];
        var chartUpdater;

        var updateClientHistory = function() {
            if (clientCount) {
                clientHistory.push(clientCount);
                if (clientHistory.length > clientHistoryMaxLength)
                    clientHistory.shift();
            }
        };

        $(document).ready(function() {
            var socket;

            $('#start').on('click', function(event) {
                $(this).addClass('active');
                $('#stop').removeClass();

                socket = io.connect(window.location.origin + "{{url}}");
                socket.on('update', function(data) {
                    console.log(data);
                    $('#page').attr('src', 'http://' + data.url);
                });
                socket.on('clientCount', function(data) {
                    console.log(data);
                    clientCount = window.clientCount = data.clients;
                });

                chartUpdater = setInterval(updateClientHistory, clientHistoryInterval);
            });

            $('#stop').on('click', function(event) {
                $(this).addClass('active');
                $('#start').removeClass();

                socket.disconnect();
                clearInterval(chartUpdater);
            });
        });
    </script>
</body>
</html>
